{
  "currentIP": "0.0.0.0",
  "username": "you@example.com",
  "token": "your api v1 token",
  "domains": [
    {
      "name": "example.com",
      "records": [
        {
          "name": "www"
        }
      ]
    }
  ],
  "checkInterval": "milliseconds to recheck"
}